@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.heroSection {
  width: 100vw;
  height: 100vh;
  background-color: #000; /* 初期背景を黒に設定 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  &.withBackground {
    background: url('/assets/top_capetown.png') no-repeat center center;
    background-size: cover;
    transition: background 1s ease-in-out; /* 背景切り替えのアニメーション */
  }
}

.textContainer {
  position: absolute;
  text-align: left;
  z-index: 10;
  width: 100%; /* コンテナを画面幅に合わせる */
  box-sizing: border-box; /* パディングを含めた幅計算 */
  padding: 0 2rem; /* 左右に余白を追加して見切れを防ぐ */
}

.title {
  font-size: clamp(3rem, 8vw, 3.5rem); /* 画面幅に応じてフォントサイズを調整 */
  font-weight: bold;
  color: #fff;
  opacity: 0; /* 初期状態で非表示 */
  font-family: 'Playfair Display', serif; /* フォントを適用 */
  white-space: nowrap; /* テキストの折り返しを防ぐ */
  overflow: hidden; /* テキストがコンテナを超えた場合に隠す */
  text-overflow: ellipsis; /* 必要に応じて省略記号を表示 */
}

.subtitle {
  font-size: clamp(1.5rem, 4vw, 2rem); /* 画面幅に応じてフォントサイズを調整 */
  color: #fff;
  margin-top: 1rem;
  opacity: 0; /* 初期状態で非表示 */
  font-family: 'Playfair Display', serif; /* フォントを適用 */
}