.heroSection {
  background: url('/assets/hero7.JPG');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;

  h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 2.5rem;
    max-width: 600px; // 文章の最大幅
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.scroll-arrow {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
}

.scroll-arrow::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: translateX(-50%) rotate(-45deg);
  animation: scroll-animation 2s infinite;
}

@keyframes scroll-animation {
  0% {
    top: 8px;
  }

  50% {
    top: 15px;
  }

  100% {
    top: 8px;
  }
}