.skills {
    height: 100vh; // セクションの高さをビューポートの高さに合わせる
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .skillList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
  
      .skill {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
      }
    }
  }
  