.footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8; // 背景色は必要に応じて調整
    border-top: 1px solid #e7e7e7; // 上部にボーダー
  
    p {
      margin: 0;
      font-size: 0.9rem;
    }
  }
  